@import '../../styles/layout.scss';

.homeHeader{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.backgroundImage{
    width: 100%;
    height: 100vh;
    position: absolute;
    filter: brightness(60%);

    @media ($media_mobile) {
        height: 110vh;
    }
}

.backgroundImage img{
    object-fit: cover;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: -5vh;
}

.intro h1{
    color: white;
    font-size: 7vw;
    line-height: 120%;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
}
.intro h2{
    color: white;
    font-size: 4vw;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
}

