@import '../../styles/layout.scss';

.homeHeader{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.backgroundImage{
    width: 100%;
    height: 100vh;
    position: absolute;
    filter: brightness(60%);

    @media ($media_mobile) {
        // height: ;
    }
}

.backgroundImage img{
    object-fit: cover;
}

.intro{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30vh;
}

.intro h1{
    color: white;
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

