@import '../../styles/layout.scss';

.projects{
    position: relative;
    color: white;
    margin-top: 20vh;
    padding: 10%;

    @media($media_mobile) {
        padding: 15px;
        margin-top: 10vh;
    }
}

.projectDescription{
    display: flex;
    height: 700px;
    justify-content: space-between;
    gap: 5%;

    @media($media_mobile) {
       flex-direction: column-reverse;
       justify-content: start;
       &:last-child {
        padding-right: 80px;
       }
    }

}

.title {
    margin-bottom: 30px;
}

.imageContainer{
    position: relative;
    height: 80%;
    width: 50%;
    border-radius: 6px;
    overflow: hidden;

     @media($media_mobile) {
        max-height: 400px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.imageContainer img{
    object-fit: cover;
}

.column{
    display: flex;
    height: 100%;
    width: 20%;

    @media($media_mobile) {
         width: 100%;
         height: auto;
    }
    
}

.column:last-of-type{
    align-items: flex-end;
    font-size: 1vw;
}

.projectList{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;

    @media($media_mobile) {
         flex-direction: row;
         gap: 15px;
         background-color: #2424249c;
         border-radius: 6px;
         overflow: hidden;
         overflow-x: scroll;
    }
}

.projectEl{
    width: 30%;
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
}
.projectEl h2{
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    white-space: nowrap;
    cursor: pointer;
     @media($media_mobile) {
          margin-top: 20px;
     }
}