@import '../../styles/layout.scss';

.description{
    position: relative;
    color: white;
    font-size: 2vw;
    margin-top: 10vw;
    margin-left: 0 5vw;
    box-shadow: 0px -159px 63px 1px rgba(0,0,0,0.86);

    @media ($media_mobile) {
         margin-top: 20vw;
    }
}
.list {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #2424249c;
    gap: 20px;
    @media ($media_mobile) {
        flex-direction: column;
    }
}
.item {
    position: relative;
    padding: 0 8px 20px 8px;

    &__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;

        .title {
              text-transform: uppercase;
        }

        .icon {
            background: var(--color-yellow);
            height: 100%;
            padding: 10px;
            border-radius: 0 0 6px 6px;
        }
    }

}

.descriptionImage{
    filter: brightness(90%);
    height: 270px;
    width: 375px;
    position: absolute;
    right: 5vw;
    bottom: 0;
    z-index:  $zBelow;

    @media ($media_mobile) {
        bottom: unset;
    }
}

.descriptionImage img{
    object-fit: cover;
    object-position: top;
}
.description p{
    margin: 0px;
    position: relative;
}